{# In-page band: dissolves into parts and assembles when scrolled into view. #}
<svg class="motif motif--scroll" viewBox="0 0 1536 600" role="img" aria-label="Divi paneļi viens pret otru ar ciānkrāsas joslu vidū" xmlns="http://www.w3.org/2000/svg">
  <g class="m" style="--i:0"><rect x="180" y="120" width="420" height="360" fill="#8ba3bd"/><rect x="240" y="180" width="300" height="34" fill="#f2f5f8"/><rect x="240" y="240" width="220" height="26" fill="#f2f5f8"/><rect x="240" y="300" width="300" height="26" fill="#f2f5f8"/></g>
  <g class="m" style="--i:1"><rect x="700" y="270" width="136" height="60" fill="#03c3f8"/></g>
  <g class="m" style="--i:2"><rect x="936" y="120" width="420" height="360" fill="#8ba3bd"/><rect x="996" y="180" width="300" height="34" fill="#f2f5f8"/><rect x="996" y="240" width="220" height="26" fill="#f2f5f8"/><rect x="996" y="300" width="300" height="26" fill="#f2f5f8"/></g>
  <g class="m" style="--i:3"><rect x="240" y="380" width="180" height="44" fill="#f2f5f8"/></g>
  <g class="m" style="--i:4"><rect x="996" y="380" width="180" height="44" fill="#03c3f8"/></g>
</svg>
