{# In-page band: dissolves into parts and assembles when scrolled into view. #}
<svg class="motif motif--scroll" viewBox="0 0 1536 600" role="img" aria-label="Nedēļas režģis ar atzīmētām publicēšanas dienām" xmlns="http://www.w3.org/2000/svg">
  <g class="m" style="--i:0"><rect x="120" y="90" width="180" height="130" fill="#8ba3bd"/><rect x="330" y="90" width="180" height="130" fill="#03c3f8"/><rect x="540" y="90" width="180" height="130" fill="#8ba3bd"/><rect x="750" y="90" width="180" height="130" fill="#8ba3bd"/><rect x="960" y="90" width="180" height="130" fill="#03c3f8"/><rect x="1170" y="90" width="180" height="130" fill="#8ba3bd"/></g>
  <g class="m" style="--i:1"><rect x="120" y="260" width="180" height="130" fill="#8ba3bd"/><rect x="330" y="260" width="180" height="130" fill="#8ba3bd"/><rect x="540" y="260" width="180" height="130" fill="#03c3f8"/><rect x="750" y="260" width="180" height="130" fill="#8ba3bd"/><rect x="960" y="260" width="180" height="130" fill="#8ba3bd"/><rect x="1170" y="260" width="180" height="130" fill="#8ba3bd"/></g>
  <g class="m" style="--i:2"><rect x="120" y="430" width="180" height="130" fill="#03c3f8"/><rect x="330" y="430" width="180" height="130" fill="#8ba3bd"/><rect x="540" y="430" width="180" height="130" fill="#8ba3bd"/><rect x="750" y="430" width="180" height="130" fill="#8ba3bd"/><rect x="960" y="430" width="180" height="130" fill="#8ba3bd"/><rect x="1170" y="430" width="180" height="130" fill="#f2f5f8"/></g>
  <g class="m" style="--i:3"><rect x="1400" y="90" width="90" height="470" fill="#f2f5f8"/></g>
</svg>
