{# In-page band: dissolves into parts and assembles when scrolled into view. #}
<svg class="motif motif--scroll" viewBox="0 0 1536 600" role="img" aria-label="Izkaisītas satura kartītes, no kurām viena ir izcelta" xmlns="http://www.w3.org/2000/svg">
  <g class="m" style="--i:0"><rect x="640" y="120" width="200" height="190" fill="#8ba3bd"/></g>
  <g class="m" style="--i:1"><rect x="880" y="100" width="200" height="190" fill="#f2f5f8"/></g>
  <g class="m" style="--i:2"><rect x="1120" y="180" width="200" height="190" fill="#8ba3bd"/></g>
  <g class="m" style="--i:3"><rect x="540" y="300" width="190" height="190" fill="#f2f5f8"/></g>
  <g class="m" style="--i:4"><rect x="770" y="270" width="200" height="200" fill="#03c3f8"/></g>
  <g class="m" style="--i:5"><rect x="1010" y="320" width="200" height="190" fill="#8ba3bd"/></g>
  <g class="m" style="--i:6"><rect x="660" y="470" width="180" height="120" fill="#f2f5f8"/></g>
  <g class="m" style="--i:7"><rect x="880" y="480" width="200" height="110" fill="#8ba3bd"/></g>
  <g class="m" style="--i:8"><rect x="1120" y="420" width="200" height="170" fill="#8ba3bd"/></g>
  <g class="m" style="--i:9"><rect x="1360" y="180" width="140" height="240" fill="#8ba3bd"/></g>
</svg>
