{# In-page band: dissolves into parts and assembles when scrolled into view. #}
<svg class="motif motif--scroll" viewBox="0 0 1536 600" role="img" aria-label="Kursa moduļi, kas seko cits citam" xmlns="http://www.w3.org/2000/svg">
  <g class="m" style="--i:0"><rect x="90" y="180" width="230" height="240" fill="#8ba3bd"/><rect x="130" y="220" width="150" height="28" fill="#f2f5f8"/></g>
  <g class="m" style="--i:1"><rect x="360" y="180" width="230" height="240" fill="#8ba3bd"/><rect x="400" y="220" width="150" height="28" fill="#f2f5f8"/></g>
  <g class="m" style="--i:2"><rect x="630" y="180" width="230" height="240" fill="#03c3f8"/><rect x="670" y="220" width="150" height="28" fill="#f2f5f8"/></g>
  <g class="m" style="--i:3"><rect x="900" y="180" width="230" height="240" fill="#8ba3bd"/><rect x="940" y="220" width="150" height="28" fill="#f2f5f8"/></g>
  <g class="m" style="--i:4"><rect x="1170" y="180" width="230" height="240" fill="#8ba3bd"/><rect x="1210" y="220" width="150" height="28" fill="#f2f5f8"/></g>
  <g class="m" style="--i:5"><rect x="90" y="470" width="1310" height="26" fill="#f2f5f8"/></g>
</svg>
