{# In-page band: dissolves into parts and assembles when scrolled into view. #}
<svg class="motif motif--scroll" viewBox="0 0 1536 600" role="img" aria-label="Atsevišķi rīki pa kreisi un savienota sistēma pa labi" xmlns="http://www.w3.org/2000/svg">
  <g class="m" style="--i:0"><rect x="70" y="90" width="150" height="110" fill="#8ba3bd"/></g>
  <g class="m" style="--i:1"><rect x="70" y="250" width="150" height="110" fill="#8ba3bd"/></g>
  <g class="m" style="--i:2"><rect x="70" y="410" width="150" height="110" fill="#8ba3bd"/></g>
  <g class="m" style="--i:3"><rect x="280" y="170" width="110" height="90" fill="#8ba3bd"/></g>
  <g class="m" style="--i:4"><rect x="280" y="340" width="110" height="90" fill="#8ba3bd"/></g>
  <g class="m" style="--i:5"><rect x="560" y="270" width="120" height="60" fill="#f2f5f8"/></g>
  <g class="m" style="--i:6"><rect x="760" y="90" width="180" height="130" fill="#8ba3bd"/><rect x="796" y="120" width="110" height="24" fill="#f2f5f8"/></g>
  <g class="m" style="--i:7"><rect x="760" y="250" width="180" height="130" fill="#8ba3bd"/><rect x="796" y="280" width="110" height="24" fill="#03c3f8"/></g>
  <g class="m" style="--i:8"><rect x="760" y="410" width="180" height="130" fill="#8ba3bd"/><rect x="796" y="440" width="110" height="24" fill="#f2f5f8"/></g>
  <g class="m" style="--i:9"><rect x="1010" y="270" width="120" height="60" fill="#f2f5f8"/></g>
  <g class="m" style="--i:10"><rect x="1210" y="150" width="250" height="300" fill="#8ba3bd"/><rect x="1250" y="190" width="170" height="30" fill="#f2f5f8"/><rect x="1250" y="250" width="120" height="24" fill="#f2f5f8"/><rect x="1250" y="310" width="170" height="24" fill="#f2f5f8"/></g>
</svg>
