{# In-page band: dissolves into parts and assembles when scrolled into view. #}
<svg class="motif motif--scroll" viewBox="0 0 1536 600" role="img" aria-label="Plaša auditorija, kas sašaurinās līdz vienai precīzai grupai" xmlns="http://www.w3.org/2000/svg">
  <g class="m" style="--i:0"><rect x="80" y="80" width="300" height="440" fill="#8ba3bd"/></g>
  <g class="m" style="--i:1"><rect x="420" y="140" width="260" height="320" fill="#8ba3bd"/></g>
  <g class="m" style="--i:2"><rect x="720" y="190" width="220" height="220" fill="#8ba3bd"/></g>
  <g class="m" style="--i:3"><rect x="980" y="230" width="160" height="140" fill="#03c3f8"/></g>
  <g class="m" style="--i:4"><rect x="1200" y="120" width="120" height="80" fill="#8ba3bd"/><rect x="1200" y="230" width="120" height="80" fill="#8ba3bd"/><rect x="1200" y="340" width="120" height="80" fill="#8ba3bd"/><rect x="1200" y="450" width="120" height="80" fill="#8ba3bd"/></g>
  <g class="m" style="--i:5"><rect x="1380" y="230" width="90" height="140" fill="#f2f5f8"/></g>
</svg>
