{# Course header motif: same solid-fill language and --i stagger as the service headers. #}
<svg class="motif" viewBox="0 0 1536 1024" role="img" aria-label="Meklēšanas lauks ar apmaksātu rezultātu virs organiskajiem un cenu kolonnām" xmlns="http://www.w3.org/2000/svg">
  <g class="m" style="--i:0"><rect x="150" y="120" width="900" height="90" fill="#f2f5f8"/><rect x="186" y="148" width="10" height="34" fill="#03c3f8"/></g>
  <g class="m" style="--i:1"><rect x="150" y="260" width="900" height="80" fill="#03c3f8"/></g>
  <g class="m" style="--i:2"><rect x="150" y="376" width="760" height="64" fill="#8ba3bd"/></g>
  <g class="m" style="--i:3"><rect x="150" y="472" width="660" height="64" fill="#8ba3bd"/></g>
  <g class="m" style="--i:4"><rect x="150" y="568" width="560" height="64" fill="#8ba3bd"/></g>
  <g class="m" style="--i:5"><rect x="150" y="664" width="460" height="64" fill="#8ba3bd"/></g>
  <g class="m" style="--i:6"><rect x="150" y="760" width="360" height="64" fill="#8ba3bd"/></g>
  <g class="m" style="--i:7"><rect x="1150" y="600" width="80" height="180" fill="#8ba3bd"/></g>
  <g class="m" style="--i:8"><rect x="1250" y="480" width="80" height="300" fill="#8ba3bd"/></g>
  <g class="m" style="--i:9"><rect x="1350" y="360" width="80" height="420" fill="#03c3f8"/></g>
</svg>
