{# Course header motif: same solid-fill language and --i stagger as the service headers. #}
<svg class="motif" viewBox="0 0 1536 1024" role="img" aria-label="Meklēšanas rezultātu saraksts, kurā viens rezultāts pakāpjas uz augšu" xmlns="http://www.w3.org/2000/svg">
  <g class="m" style="--i:0"><rect x="200" y="120" width="900" height="80" fill="#03c3f8"/></g>
  <g class="m" style="--i:1"><path d="M1160 200 L1210 120 L1260 200 Z" fill="#03c3f8"/><rect x="1190" y="200" width="40" height="180" fill="#03c3f8"/></g>
  <g class="m" style="--i:2"><rect x="200" y="250" width="760" height="64" fill="#8ba3bd"/></g>
  <g class="m" style="--i:3"><rect x="200" y="346" width="820" height="64" fill="#8ba3bd"/></g>
  <g class="m" style="--i:4"><rect x="200" y="442" width="700" height="64" fill="#8ba3bd"/></g>
  <g class="m" style="--i:5"><rect x="200" y="538" width="620" height="64" fill="#8ba3bd"/></g>
  <g class="m" style="--i:6"><rect x="200" y="634" width="540" height="64" fill="#8ba3bd"/></g>
  <g class="m" style="--i:7"><rect x="200" y="730" width="440" height="64" fill="#8ba3bd"/></g>
  <g class="m" style="--i:8"><rect x="200" y="826" width="340" height="64" fill="#8ba3bd"/></g>
  <g class="m" style="--i:9"><rect x="120" y="120" width="50" height="80" fill="#f2f5f8"/><rect x="120" y="250" width="50" height="64" fill="#8ba3bd"/><rect x="120" y="346" width="50" height="64" fill="#8ba3bd"/></g>
</svg>
