{# Pieces of google-ads-motivs.webp - the real cover, split into its own objects and reassembled
   in place, so it ends on the complete picture. Regenerate with tools/build-motifs.mjs;
   do not hand-edit. #}
<svg class="motif motif--pieces" viewBox="0 0 1536 1024" role="img" aria-label="Meklēšanas rezultātu saraksts, kurā apmaksātā reklāma ciānkrāsā atrodas virs organiskajiem rezultātiem" xmlns="http://www.w3.org/2000/svg">
  <defs><clipPath id="kurss-google-0"><path d="M456 516h720v56h-720z"/></clipPath><clipPath id="kurss-google-1"><path d="M456 600h560v56h-560z"/></clipPath><clipPath id="kurss-google-2"><path d="M456 684h460v60h-460z"/></clipPath><clipPath id="kurss-google-3"><path d="M300 472h76v268h-76z"/></clipPath><clipPath id="kurss-google-4"><path d="M208 552h72v188h-72z"/></clipPath><clipPath id="kurss-google-5"><path d="M112 608h76v132h-76z"/></clipPath><clipPath id="kurss-google-6"><path d="M96 212v108h280v4h4v4h-292v-120h12v4z"/></clipPath><clipPath id="kurss-google-7"><path d="M376 320h296v4h4v4h-304v-8z"/></clipPath><clipPath id="kurss-google-8"><path d="M672 320h768v-88h4v-4h-4v-16h-4v-4h12v120h-780v-8z"/></clipPath><clipPath id="kurss-google-9"><path d="M92 208h1352v16h4v12h-4v88h-1352zM128 240v52h12v-52z"/></clipPath><clipPath id="kurss-google-10"><path d="M456 420h836v68h-836z"/></clipPath><clipPath id="kurss-google-11"><path d="M124 236h20v60h-20z"/></clipPath></defs>
  <g class="m" style="--i:0;transform-origin:816px 544px"><image href="/img/gen/google-ads-motivs.webp" width="1536" height="1024" clip-path="url(#kurss-google-0)"/></g>
  <g class="m" style="--i:1;transform-origin:736px 628px"><image href="/img/gen/google-ads-motivs.webp" width="1536" height="1024" clip-path="url(#kurss-google-1)"/></g>
  <g class="m" style="--i:2;transform-origin:686px 714px"><image href="/img/gen/google-ads-motivs.webp" width="1536" height="1024" clip-path="url(#kurss-google-2)"/></g>
  <g class="m" style="--i:3;transform-origin:338px 606px"><image href="/img/gen/google-ads-motivs.webp" width="1536" height="1024" clip-path="url(#kurss-google-3)"/></g>
  <g class="m" style="--i:4;transform-origin:244px 646px"><image href="/img/gen/google-ads-motivs.webp" width="1536" height="1024" clip-path="url(#kurss-google-4)"/></g>
  <g class="m" style="--i:5;transform-origin:150px 674px"><image href="/img/gen/google-ads-motivs.webp" width="1536" height="1024" clip-path="url(#kurss-google-5)"/></g>
  <g class="m" style="--i:6;transform-origin:234px 268px"><image href="/img/gen/google-ads-motivs.webp" width="1536" height="1024" clip-path="url(#kurss-google-6)"/></g>
  <g class="m" style="--i:7;transform-origin:524px 322px"><image href="/img/gen/google-ads-motivs.webp" width="1536" height="1024" clip-path="url(#kurss-google-7)"/></g>
  <g class="m" style="--i:8;transform-origin:1058px 268px"><image href="/img/gen/google-ads-motivs.webp" width="1536" height="1024" clip-path="url(#kurss-google-8)"/></g>
  <g class="m" style="--i:9;transform-origin:770px 266px"><image href="/img/gen/google-ads-motivs.webp" width="1536" height="1024" clip-path="url(#kurss-google-9)"/></g>
  <g class="m" style="--i:10;transform-origin:874px 454px"><image href="/img/gen/google-ads-motivs.webp" width="1536" height="1024" clip-path="url(#kurss-google-10)"/></g>
  <g class="m" style="--i:11;transform-origin:134px 266px"><image href="/img/gen/google-ads-motivs.webp" width="1536" height="1024" clip-path="url(#kurss-google-11)"/></g>
</svg>
