{# Pieces of cover-cik-maksa-google-reklama.webp - the real cover, split into its own objects and reassembled
   in place, so it ends on the complete picture. Regenerate with tools/build-motifs.mjs;
   do not hand-edit. #}
<svg class="motif motif--pieces" viewBox="0 0 1536 1024" role="img" aria-label="Raksta motīvs: Cik maksā Google reklāma? Kā aprēķināt budžetu 2026. gadā" xmlns="http://www.w3.org/2000/svg">
  <defs><clipPath id="post-cik-maksa-google-reklama-0"><path d="M252 272h244v644h-244z"/></clipPath><clipPath id="post-cik-maksa-google-reklama-1"><path d="M508 476h776v104h-780v-100h4z"/></clipPath><clipPath id="post-cik-maksa-google-reklama-2"><path d="M504 592h608v100h-608z"/></clipPath><clipPath id="post-cik-maksa-google-reklama-3"><path d="M504 704h468v100h-468z"/></clipPath><clipPath id="post-cik-maksa-google-reklama-4"><path d="M504 816h392v100h-392z"/></clipPath><clipPath id="post-cik-maksa-google-reklama-5"><path d="M632 172h76v76h-76z"/></clipPath><clipPath id="post-cik-maksa-google-reklama-6"><path d="M760 172h76v76h-76z"/></clipPath><clipPath id="post-cik-maksa-google-reklama-7"><path d="M888 172h76v76h-76z"/></clipPath><clipPath id="post-cik-maksa-google-reklama-8"><path d="M904 840h68v76h-72v-72h4z"/></clipPath></defs>
  <g class="m" style="--i:0;transform-origin:374px 594px"><image href="/img/gen/cover-cik-maksa-google-reklama.webp" width="1536" height="1024" clip-path="url(#post-cik-maksa-google-reklama-0)"/></g>
  <g class="m" style="--i:1;transform-origin:894px 528px"><image href="/img/gen/cover-cik-maksa-google-reklama.webp" width="1536" height="1024" clip-path="url(#post-cik-maksa-google-reklama-1)"/></g>
  <g class="m" style="--i:2;transform-origin:808px 642px"><image href="/img/gen/cover-cik-maksa-google-reklama.webp" width="1536" height="1024" clip-path="url(#post-cik-maksa-google-reklama-2)"/></g>
  <g class="m" style="--i:3;transform-origin:738px 754px"><image href="/img/gen/cover-cik-maksa-google-reklama.webp" width="1536" height="1024" clip-path="url(#post-cik-maksa-google-reklama-3)"/></g>
  <g class="m" style="--i:4;transform-origin:700px 866px"><image href="/img/gen/cover-cik-maksa-google-reklama.webp" width="1536" height="1024" clip-path="url(#post-cik-maksa-google-reklama-4)"/></g>
  <g class="m" style="--i:5;transform-origin:670px 210px"><image href="/img/gen/cover-cik-maksa-google-reklama.webp" width="1536" height="1024" clip-path="url(#post-cik-maksa-google-reklama-5)"/></g>
  <g class="m" style="--i:6;transform-origin:798px 210px"><image href="/img/gen/cover-cik-maksa-google-reklama.webp" width="1536" height="1024" clip-path="url(#post-cik-maksa-google-reklama-6)"/></g>
  <g class="m" style="--i:7;transform-origin:926px 210px"><image href="/img/gen/cover-cik-maksa-google-reklama.webp" width="1536" height="1024" clip-path="url(#post-cik-maksa-google-reklama-7)"/></g>
  <g class="m" style="--i:8;transform-origin:936px 878px"><image href="/img/gen/cover-cik-maksa-google-reklama.webp" width="1536" height="1024" clip-path="url(#post-cik-maksa-google-reklama-8)"/></g>
</svg>
