{# Blog post header motif: same solid-fill language and --i stagger as the service and course headers. #}
<svg class="motif" viewBox="0 0 1536 1024" role="img" aria-label="Aploksne un aiz tās sagatavotu vēstuļu rinda" xmlns="http://www.w3.org/2000/svg">
  <g class="m" style="--i:0"><rect x="200" y="280" width="640" height="460" fill="#8ba3bd"/><path d="M200 280 L520 520 L840 280 Z" fill="#f2f5f8"/></g>
  <g class="m" style="--i:1"><rect x="900" y="200" width="260" height="180" fill="#8ba3bd"/><rect x="940" y="240" width="180" height="26" fill="#f2f5f8"/></g>
  <g class="m" style="--i:2"><rect x="900" y="420" width="260" height="180" fill="#8ba3bd"/><rect x="940" y="460" width="180" height="26" fill="#03c3f8"/></g>
  <g class="m" style="--i:3"><rect x="900" y="640" width="260" height="180" fill="#8ba3bd"/><rect x="940" y="680" width="180" height="26" fill="#f2f5f8"/></g>
  <g class="m" style="--i:4"><rect x="1220" y="300" width="180" height="420" fill="#f2f5f8"/></g>
</svg>
