{# Blog post header motif: same solid-fill language and --i stagger as the service and course headers. #}
<svg class="motif" viewBox="0 0 1536 1024" role="img" aria-label="Vertikāls video kadrs starp diviem citiem un atskaņošanas trīsstūris" xmlns="http://www.w3.org/2000/svg">
  <g class="m" style="--i:0"><rect x="600" y="110" width="340" height="800" fill="#8ba3bd"/></g>
  <g class="m" style="--i:1"><path d="M720 400 L720 620 L890 510 Z" fill="#03c3f8"/></g>
  <g class="m" style="--i:2"><rect x="980" y="190" width="240" height="640" fill="#8ba3bd"/></g>
  <g class="m" style="--i:3"><rect x="1260" y="270" width="200" height="480" fill="#8ba3bd"/></g>
  <g class="m" style="--i:4"><rect x="320" y="190" width="240" height="640" fill="#8ba3bd"/></g>
  <g class="m" style="--i:5"><rect x="80" y="270" width="200" height="480" fill="#8ba3bd"/></g>
  <g class="m" style="--i:6"><rect x="640" y="860" width="260" height="28" fill="#f2f5f8"/></g>
</svg>
