{# Blog post header motif: same solid-fill language and --i stagger as the service and course headers. #}
<svg class="motif" viewBox="0 0 1536 1024" role="img" aria-label="Meklēšanas rezultāts, kas pakāpjas uz augšu, un lapas struktūra" xmlns="http://www.w3.org/2000/svg">
  <g class="m" style="--i:0"><rect x="150" y="140" width="780" height="80" fill="#03c3f8"/></g>
  <g class="m" style="--i:1"><path d="M980 220 L1030 140 L1080 220 Z" fill="#03c3f8"/><rect x="1010" y="220" width="40" height="160" fill="#03c3f8"/></g>
  <g class="m" style="--i:2"><rect x="150" y="270" width="660" height="70" fill="#8ba3bd"/></g>
  <g class="m" style="--i:3"><rect x="150" y="376" width="720" height="70" fill="#8ba3bd"/></g>
  <g class="m" style="--i:4"><rect x="150" y="482" width="600" height="70" fill="#8ba3bd"/></g>
  <g class="m" style="--i:5"><rect x="150" y="588" width="520" height="70" fill="#8ba3bd"/></g>
  <g class="m" style="--i:6"><rect x="150" y="694" width="440" height="70" fill="#8ba3bd"/></g>
  <g class="m" style="--i:7"><rect x="1180" y="140" width="260" height="120" fill="#8ba3bd"/></g>
  <g class="m" style="--i:8"><rect x="1180" y="320" width="260" height="120" fill="#8ba3bd"/></g>
  <g class="m" style="--i:9"><rect x="1180" y="500" width="260" height="120" fill="#8ba3bd"/></g>
  <g class="m" style="--i:10"><rect x="1180" y="680" width="260" height="120" fill="#f2f5f8"/></g>
</svg>
